body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.ls-display_center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.ls-display_l_c {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
